<div id="bg">
  <div id="shapes">
    <div id="shape"></div>
    <div id="shape2"></div>
    <div id="shape3"></div>
    <div id="shape4"></div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <div class="card">
  <div class="col-4">
    <%= link_to 'Sign In', new_visitor_path %>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="card">
  <div class="card-body">
    <%= link_to 'Sign Out', new_visitor_path %>
  </div>
</div> 






