
<h1>Visitors History</h1>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


      
  <tbody>
    
    <div class="container">
      <h2>Striped Rows</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>            
      <table class="table table-striped">
      
          <thead>
            <tr>
              <th>Guest Name</th>
              <th>Company Name</th>
              <th> Signed In</th>
              <th>Signed Out</th>
            </tr>
          </thead> 
         
        <% @visitors.each do |visitor| %>
       
           <tr> 
              
              <td><%= visitor.guest.first_name %></td>
              <td><%= visitor.guest.company.name %></td>
              <td><%= visitor.clock_in %></td>
              <td><%= visitor.clock_out %></td>
        <% end %>
           </tr>
      </table>
    </div>
 
    </tbody>

  


