<div class="push_button blue">
 
    <%= link_to 'Currently in building', visitor_still_in_building_path %>
    
  </div>
</div>
 <br/>
 <br/>
<br/>
<div class="card">
  <div class="card-body">
    <%= link_to 'Visitor History', visitors_path %> 
   
  </div>
</div>
<br/>
 <br/>
<br/>
<div class="card">
  <div class="card-body">


 <%= link_to 'Visitor Profiles', companies_path %>  
    
  </div>
</div>
