<div class="card">
  <div class="card-body">
    <%= link_to 'Currently in building', visitors_path %>
    <h1> edit path </h1>
  </div>
</div>
 <br/>
 <br/>
<br/>
<div class="card">
  <div class="card-body">
    <%= link_to 'Visitor History', visitors_path %> 
    <h1> has to be visitor index inorder to see all the sign in and sign out by timestamp</h1>
  </div>
</div>
<br/>
 <br/>
<br/>
<div class="card">
  <div class="card-body">


 <%= link_to 'Visitor Profiles', companies_path %>  
    
  </div>
</div>
