<div class="card">
  <div class="card-body">
    <%= link_to 'Currently in building', visitor_path %>
  </div>
</div>
 </br>
 </br>
</br>
<div class="card">
  <div class="card-body">
    <%= link_to 'Visitor History', visitors_path %> 
  </div>
</div>
</br>
 </br>
</br>
<div class="card">
  <div class="card-body">
    <%= link_to 'Visitor Profiles', guests_path %>
  </div>
</div>
