


<%= link_to "Create new Company", new_company_path %>
<H1> we have <%= @companies.count %> companies in our guest log</h1>
<% @companies.each do |company| %>
 <%= link_to company.name, company_path(company) %> 
<% end %>
