@import "bootstrap";
.selector-for-some-widget {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }

  .card-body {
    background-color: rgb(247, 14, 14);
    text-align: center;
    font-size: 32px;
    padding: 50px;
  }
